<!DOCTYPE html>
<html lang="en" ng-app="Converter">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>The Jamedjo Converter</title>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="icons/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="icons/halflings.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script src="controllers.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="navbar-inner" ng-controller="NavBar">
            <i class="glyphicons-icon white show_lines pull-right {{!lt550|ifTrue:'hide'}}" ng-click="isCollapsed = !isCollapsed"></i>
            <a class="brand" href="#">Converter</a>

            <div class="{{lt550|ifTrue:'nav-collapse'}}" collapse="isCollapsed && lt550">
                <ul class="nav">
                    <li ng-class="navClass('All')"><a href='#/All'>All</a></li>
                    <li ng-class="navClass('Bete')"><a href='#/Bete'>Bete</a></li>
                    <li ng-class="navClass('Charn')"><a href='#/Charn'>Charn</a></li>
                    <li ng-class="navClass('Delts')"><a href='#/Delts'>Delts</a></li>
                    <li ng-class="navClass('Salary')"><a href='#/Salary'>Salary</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Salary</h2>
    <section class="well well-large" ng-controller="SalaryConverter">
        Earning {{activeSalaryNoun()}} of <h3>{{defaultCurrency}}</h3><input type="number" style="width: 5em;" ng-model="salary" placeholder="salary">
        <span class="dropdown">
            <a class="dropdown-toggle">{{activeSalaryPeriod}}</a>
            <ul class="dropdown-menu">
                <li ng-repeat="choice in timePeriods">
                    <a ng-click="setSalaryPeriod(choice.name)">{{choice.name}}</a>
                </li>
            </ul>
        </span>
        , <span ng-show="averageVisible()">working an average of</span>
        <span ng-show="hoursVisible()"><input type="number" style="width: 2.5em;" ng-model="workingHoursDay" placeholder="hours"> hours a day,</span>
        <span ng-show="daysVisible()"><input type="number" style="width: 2.5em;" min="1" max="7" ng-model="daysInWorkingWeek" placeholder="days"> days a week,</span> is equivelent to <h3>{{convertedSalary()|currency:defaultCurrency}}</h3>
        <span class="dropdown">
            <a class="dropdown-toggle">{{activeOutputPeriod}}</a>
            <ul class="dropdown-menu">
                <li ng-repeat="choice in timePeriods">
                    <a ng-click="setOutputPeriod(choice.name)">{{choice.name}}</a>
                </li>
            </ul>
        </span>.
    </section>
</body>
</html>
