<!DOCTYPE html>
<html lang="en" ng-app="Converter">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>The Jamedjo Converter</title>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="icons/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="icons/halflings.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="ui-bootstrap-tpls-0.3.0.min.js"></script>
    <script src="controllers.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="navbar-inner" ng-controller="NavBar">
            <i class="glyphicons-icon white show_lines pull-right {{!lt550|ifTrue:'hide'}}" ng-click="isCollapsed = !isCollapsed"></i>
            <a class="brand" href="#">Converter</a>

            <div class="{{lt550|ifTrue:'nav-collapse'}}" collapse="isCollapsed && lt550">
                <ul class="nav">
                    <li ng-class="navClass('All')"><a href='#/All'>All</a></li>
                    <li ng-class="navClass('Bete')"><a href='#/Bete'>Bete</a></li>
                    <li ng-class="navClass('Charn')"><a href='#/Charn'>Charn</a></li>
                    <li ng-class="navClass('Delts')"><a href='#/Delts'>Delts</a></li>
                    <li ng-class="navClass('Salary')"><a href='#/Salary'>Salary</a></li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Salary</h2>
    <section class="well well-large" ng-controller="SalaryConverter">
        <div>
            Earning a 
            <li class="dropdown">
                <a class="dropdown-toggle">{{activeSalaryPeriod}}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="choice in salaryPeriods">
                        <a ng-click="setSalaryPeriod(choice.name)">{{choice.name}}</a>
                    </li>
                </ul>
            </li>
             salery of <input type="number" ng-model="salary" placeholder="Enter Salary">
        </div>
        <div>
            Working an average of <input type="number" ng-model="workingHours" placeholder="Enter hours"> hours a week, <input type="number" ng-model="daysInWorkingWeek" placeholder="Enter Days"> days a week.
        </div>
        <div>Is equivelent to <h3>{{convertedSalary()|currency}}</h3></div>
    </section>
</body>
</html>
