.navbar .nav>.active>a, .navbar .nav>.active>a:hover {
  box-shadow: inset 4px 0px black, inset -4px -9px black,inset 0px -13px white;
}
h3 {
  display:inline-block;
}
input[type="number"], input[type="text"] {
  text-align: center;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  box-shadow: none;
  background-color: transparent;
  /*margin-bottom: 2px;*/
}
input[type="number"]:focus, input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0px -11px 10px -8px hsl(0, 0%, 90%);
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]:focus input::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
}